@media (max-width: 1199.5px) {
 
    .header-title {
        font-size: 40px;
    }
    .header-subtitle {
        font-size: 30px;
    }


}
@media (max-width: 991.5px) {
 .name-input__space {
    display: none;
 }

  
}
@media (max-width: 767.5px) {

    .image-upload {
        max-width: 450px;
    }
    .header-title {
        font-size: 30px;
    }
    .tag-input {
        max-width: 250px;
    }
    .new-title 
    {
        font-size: 30px;
    }

}





@media (max-width:576.5px) {
    /* .navbar-tabs {
        display: block;
    }

    .navbar-tabs .btn-tab {
        display: block;
    }

    .navbar-tabs li:not(:last-child) {
        margin-right: 0;
    } */

    .image-upload {
        max-width: 350px;
    }
    .photo-space {
        max-width: 350px;
    }
    .card {
        max-width: 320px;
        height: 380px;
    }
}