.tag-input-container {
	display: flex;
	align-items: center;
}
  
.tag-input {
	width: 100%;
	padding: 8px 12px;
	border: 1px solid #ccc;
	border-radius: 20px;
	font-size: 14px;
	outline: none;
	transition: border-color 0.15s ease-in-out;
	width:400px;
	

}
  
.tag-input:focus {
	border-color: #007bff;
}
  